name = "%YOUR-WORKER-NAME%_dev"
type = "javascript"

account_id = "%YOUR-ACCOUNT-ID%"
workers_dev = true
route = ""
zone_id = ""
compatibility_date = "2021-09-23"

[build]
upload.format = "service-worker"
command = "pnpm build:cloudflare"

[env.prod]
name = "%YOUR-WORKER-NAME%_prod"
